<h1>Lista de vidros</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @vidros.each do |vidro| %>
    <tr>
      <td><%= vidro.title %></td>
      <td><%= vidro.text %></td>
      <td><%= link_to 'Show', vidro %></td>
    </tr>
  <% end %>
</table>